.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* dark background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.dialog {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  height: 300px;
  width: 400px;
  justify-content: space-between;
}

.wrong {
  font-size: 20px;
  font-weight: bold;
}

.dialog label{
  display: inline-flex;
  min-width: 200px;
}
.dialog.timings{
  display: inline;
  align-items: center;
  justify-content: space-around;
}
.dialog.timings span{
  top: 0;
  left: 0;
}