.background {
    scroll-behavior: smooth;
}
.content-wrapper {
    padding: 0 30px;
    margin-top: 30px;
}
.MenuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 200px;
    height: 80px;
    border-radius: 16px;
    background: url("../pngs/img.png") no-repeat center/contain;
    cursor: pointer;
}

.right {
    display: flex;
    gap: 15px;
}

.ProfileCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
}

.Profile {
    width: 40px;
    height: 40px;
    align-items: center;
    background: url("../pngs/profle.png") no-repeat center/contain;
    border-radius: 50%;
    cursor: pointer;
}
.username{
    display: inline-block;
    text-align: center;
}
.loc {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: cursive;
    font-size: 25px;
    cursor: pointer;
    padding: 0 40px ;
}

.search {
    margin: 0 40px;
    width: 70%;
    height: 40px;
    border-radius: 40px;
    border: 1px solid;
    padding: 0 20px;
    color: gray;
    font-family: cursive;
}

.offer {
    margin: 40px auto;
    height: 300px;
}

.offerimg {
    height: 300px;
    background: url("../pngs/offer.png") no-repeat center;
    border-radius: 20px;
}

.section-title {
    padding-left: 40px;
    font-size: 25px;
    font-family: cursive;
}

.food {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.order {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order:hover{
    transform: scale(1.15);
}
.opt1 {
    background: url("../pngs/opt1.png") no-repeat center;
    background-size: 150%;
}

.opt2 {
    background: url("../pngs/op2.png") no-repeat center;
    background-size: 135%;
}

.opt3 {
    background: url("../pngs/opt3.png") no-repeat center;
    background-size: 135%;
}

.opt4 {
    background: url("../pngs/opt4.png") no-repeat center;
    background-size: 190%;
}
.order-name {
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
.cards-holder{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    gap: 16px;
    padding: 24px;
    justify-items: center;
}